@import "~src/assets/scss/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;

  background-color: $backgroundColor;
  border: 1px solid #ffffff;

  transition: opacity 1s, top .3s;
  color: white;
  cursor: default;
  user-select: none;

  &.is-equal {
    background-color: $successColor;
  }
}
