@import "~src/assets/scss/variables";

:host {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;

  background-color: $backgroundColor;
  border: 1px solid #ffffff;

  transition: opacity 1s, top .3s;

  line-height: 32px;
  text-align: center;
  color: white;
  cursor: default;
  user-select: none;
}
