@import '~@angular/material/theming';

$observableColor: #0B4958;
$operatorColor: #4D8A7C;
$argColor: #FDB681;

$errorMessageColor: #BC2D19;
$successColor: #3D5A1F;

$placeholderColor: #aeaeae;
$backgroundColor: #303030;

$lg: 960px;
$sm: 724px;
$xs: 414px;
