$primary: #7b1fa2;
$accent: #69f0ae;
$warn: #f44336;

//$color1: #1E4363;
//$color2: #FCF2CB;
//$color3: #FFB00D;
//$color4: #FF8926;
//$color5: #BC2D19;
//$color1: #3D5A1F;
//$color2: #A6820C;
//$color3: #8B610F;
//$color4: #25180E;
//$color5: #581D0D;


$color1: #0B4958;
$color2: #4D8A7C;
$color3: #C4DB94;
$color4: #FFF38B;
$color5: #FDB681;

$color6: #BC2D19;
$color7: #3D5A1F;

$backgroundTextColor: #233656;
