@import "~src/assets/scss/variables";

:host {
  display: block;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  z-index: 20;
  background-color: $backgroundColor;

  .current {
    height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
  }

  .sample {
    height: 64px;
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    overflow: hidden;
  }
}
