@import "~src/assets/scss/variables";

:host {
  display: table;
  margin: 4px 8px;
  background-color: $color1;
  white-space: nowrap;

  &.inner {
    display: inline-block;
    padding: 10px;
    margin: -10px 8px;
  }
}
