@import "~src/assets/scss/variables";

:host {
  display: table;

  .mat-card {
    margin: 4px 8px;
    background-color: $color1;
    white-space: nowrap;
  }

  &.inner,
  &.mini {
    display: inline-block;

    .mat-card {
      padding: 10px;
      margin: -10px 8px;
    }
  }
}
