.container {
  display: flex;
  height: calc(100vh - 64px);

  .controls-container {
    flex: 0 0 300px;
    height: 100%;
    overflow: auto;
    padding: 8px 16px;

    .controls {
      margin: 8px 0;

      .source {
        display: table;
        margin: 8px 0;
      }

      .operator {
        display: table;
        margin: 8px 0;
      }
    }
  }

  .main-container {
    position: relative;
    flex: 1;
    height: 100%;
    background-color: #202020;

    .solution {
      height: 100%;
      padding: 32px 128px 232px;
      overflow: auto;

      .source {
        display: table;
        margin: 8px 0;
      }

      .operator {
        display: table;
        margin: 8px 0;
      }
    }
  }
}


.pipes-container {
  min-height: 64px;
}


.main-stream-container {
  padding: 32px 128px 232px;
}
