<div class="container">
  <div class="controls-container">
    <mat-card class="controls">
      <mat-card-title>Observables</mat-card-title>
      <mat-card-content>
        <div class="list"
             #srcObservables="cdkDropList"
             cdkDropList
             [cdkDropListData]="puzzle.observables"
             [cdkDropListConnectedTo]="destObservables"
             (cdkDropListDropped)="dropObservableBack($event)">
          <rxp-observable cdkDrag
                          (dblclick)="dblClickSrcObservables($event, index);"
                          *ngFor="let observable of puzzle.observables; let index = index;">
            {{observable.title}}
          </rxp-observable>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="controls">
      <mat-card-title>Operators</mat-card-title>
      <div class="list"
           cdkDropList
           #srcOperators="cdkDropList"
           [cdkDropListData]="puzzle.operators"
           [cdkDropListConnectedTo]="destOperators"
           (cdkDropListDropped)="dropOperatorBack($event)">
        <rxp-operator cdkDrag
                      (dblclick)="dblClickSrcOperators($event, index);"
                      *ngFor="let operator of puzzle.operators; let index = index;">
          {{operator.operator.title}}
        </rxp-operator>
      </div>
    </mat-card>
    <mat-card class="controls">
      <mat-card-title>Operators</mat-card-title>
      <div class="list"
           id="src-arguments"
           cdkDropList
           [cdkDropListData]="puzzle.args"
           [cdkDropListConnectedTo]="getIds()"
           (cdkDropListDropped)="dropArgBack($event)">
        <rxp-arg cdkDrag
                 (dblclick)="dblClickSrcArgs($event, index);"
                 *ngFor="let value of puzzle.args; let index = index;">
          {{value.title}}
        </rxp-arg>
      </div>
    </mat-card>
  </div>
  <div class="main-container">
    <div class="main-stream-container">
      <div class="stream">
        <div class="observable-container"
             #destObservables="cdkDropList"
             cdkDropList
             [cdkDropListData]="tree.root"
             [cdkDropListConnectedTo]="srcObservables"
             (cdkDropListDropped)="dropObservable($event)">
          <rxp-observable [inner]="true"
                          cdkDrag
                          (dblclick)="dblClickObservable($event, index);"
                          *ngFor="let observable of tree.root; let index = index;">
            {{observable.title}}
          </rxp-observable>
        </div>
        <div class="operators-container"
             #destOperators="cdkDropList"
             cdkDropList
             [cdkDropListConnectedTo]="srcOperators"
             [cdkDropListData]="tree.operators"
             (cdkDropListDropped)="dropOperator($event)">

          <rxp-operator [inner]="true"
                        cdkDrag
                        (dblclick)="dblClickOperator($event, tree.operators, index);"
                        *ngFor="let operator of tree.operators; let index = index;">
            <span>{{operator.operator.left}}</span>
            <span class="value-container"
                  [id]="'dest-argument-' + operator.id"
                  cdkDropList
                  [cdkDropListData]="operator.value"
                  [cdkDropListOrientation]="'horizontal'"
                  [cdkDropListConnectedTo]="getIds(operator.id)"
                  (cdkDropListDropped)="dropArg($event)">

                <rxp-arg [inner]="true"
                         cdkDrag
                         (dblclick)="dblClickArg($event, operator.value, index);"
                        *ngFor="let value of operator.value; let index = index;">
                  {{value.title}}
                </rxp-arg>
              </span>
            <span>{{operator.operator.right}}</span>
          </rxp-operator>
        </div>
      </div>
    </div>

    <rxp-results [source]="source$" [destination]="destination"></rxp-results>
  </div>
</div>
