@import "~src/assets/scss/variables";

.container {
  display: flex;
  height: calc(100vh - 64px);

  .controls-container {
    flex: 0 0 25%;
    min-width: 300px;
    height: 100%;
    overflow: auto;
    padding: 8px 16px;

    .controls {
      margin: 8px 0;
    }
  }

  .main-container {
    position: relative;
    flex: 1;
    height: 100%;
    background-color: #202020;
  }
}

.main-stream-container {
  height: 100%;
  overflow: auto;
  padding: 32px 64px 176px;

  .stream {
    display: inline-block;

    .observable-container {
      position: relative;
      min-height: 40px;
      min-width: 100px;

      >* {
        display: inline-block;
      }

      &:before {
        content: "Place observable here";
        position: absolute;
        left: 50%;
        top: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
      }
    }

    .operators-container {
      position: relative;
      min-height: 40px;
      min-width: 100px;

      >* {
        margin-left: 32px;
      }
    }

    .value-container {
      display: inline-block;
      min-width: 32px;
      min-height: 27px;
      margin: -8px 0;

      >* {
        display: inline-block;
        padding: 10px;
        margin: -10px 8px;
      }
    }
  }
}

///* Animate items as they're being sorted. */
//.cdk-drop-list-dragging .cdk-drag {
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}
//
///* Animate an item that has been dropped. */
//.cdk-drag-animating {
//  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
//}
