<div class="container" [class.open-menu]="controlsIsOpen">
  <div class="controls-container">
    <div class="controls">
      <div class="list observables"
           [class.no-data]="!puzzle?.observables.length"
           id="observable-list"
           cdkDropList
           [cdkDropListData]="puzzle?.observables"
           [cdkDropListConnectedTo]="getAllIds()"
           [cdkDropListEnterPredicate]="enterPredicateOnlyObservables"
           (cdkDropListDropped)="dropToObservablesSrc($event)">
        <mat-card class="element element-observable"
                  cdkDrag
                  (cdkDragStarted)="startDragging()"
                  [cdkDragData]="observable"
                  (click)="clickObservablesSrc($event, index);"
                  *ngFor="let observable of puzzle?.observables; let index = index;">
          {{observable.title}}
        </mat-card>
      </div>
    </div>
    <div class="control-divider"></div>
    <div class="controls">
      <div class="list operators"
           [class.no-data]="!puzzle?.operatorsCollection.length"
           id="operator-list"
           cdkDropList
           [cdkDropListData]="puzzle?.operatorsCollection"
           [cdkDropListConnectedTo]="destOperators"
           (cdkDropListDropped)="dropToOperatorsSrc($event)">
        <rxp-operator cdkDrag
                      [operator]="operator"
                      (cdkDragStarted)="startDragging()"
                      [cdkDragData]="operator"
                      (click)="clickOperatorsSrc($event, index);"
                      *ngFor="let operator of puzzle?.operatorsCollection; let index = index;">
          {{operator.title}}
        </rxp-operator>
      </div>
    </div>
    <div class="control-divider"></div>
    <div class="controls">
      <div class="list expressions"
           [class.no-data]="!puzzle?.expressions.length"
           id="src-expressions"
           cdkDropList
           [cdkDropListData]="puzzle?.expressions"
           [cdkDropListConnectedTo]="getAllIds()"
           [cdkDropListEnterPredicate]="enterPredicateOnlyExpressions"
           (cdkDropListDropped)="dropToExpressionsSrc($event)">
        <mat-card class="element element-expressions" cdkDrag
                 (cdkDragStarted)="startDragging()"
                 [cdkDragData]="arg"
                 (click)="clickExpressionsSrc($event, index);"
                 *ngFor="let arg of puzzle?.expressions; let index = index;">
          {{arg.title}}
        </mat-card>
      </div>
    </div>
  </div>
  <div class="device-control" (click)="openControls($event)">
    <span>Click here!</span>
  </div>
  <div class="backdrop-shadow" (click)="closeControls($event)"></div>
  <div class="main-container">
    <div class="main-stream-container">
      <div class="stream" [class.no-stream]="!tree.observable.length">
        <div class="observable-container"
             #destObservables="cdkDropList"
             id="dest-observable"
             cdkDropList
             [cdkDropListData]="tree.observable"
             [cdkDropListOrientation]="'horizontal'"
             [cdkDropListConnectedTo]="getAllIds()"
             [cdkDropListEnterPredicate]="enterPredicateOnlyObservables"
             (cdkDropListDropped)="dropObservableToDest($event)">
          <mat-card class="element element-observable"
                    cdkDrag
                    [cdkDragData]="observable"
                    (click)="clickObservableDest($event, tree.observable, index);"
                    *ngFor="let observable of tree.observable; let index = index;">
            {{observable.title}}
          </mat-card>
        </div>
        <div class="operators-container" [class.no-operators]="!tree.operators.length"
             #destOperators="cdkDropList"
             cdkDropList
             [cdkDropListConnectedTo]="'operator-list'"
             [cdkDropListData]="tree.operators"
             (cdkDropListDropped)="dropOperatorToDest($event)">
          <rxp-operator [inner]="true"
                        [operator]="operator"
                        cdkDrag
                        [cdkDragData]="operator"
                        (click)="clickDestOperator($event, tree.operators, index);"
                        *ngFor="let operator of tree.operators; let index = index;">
            <span>{{operator.left}}</span>
            <span class="arg-container"
                  *ngIf="operator.argType"
                  [id]="'dest-argument-' + operator.id"
                  cdkDropList
                  [cdkDropListData]="operator.values"
                  [cdkDropListOrientation]="'horizontal'"
                  [cdkDropListConnectedTo]="getAllIds()"
                  (cdkDropListDropped)="dropArgumentToDest($event)">
              <ng-container *ngFor="let arg of operator.values; let index = index;">
                <mat-card class="element element-observable small"
                          cdkDrag
                          [cdkDragData]="arg"
                          (click)="clickObservableDest($event, operator.values, index);"
                          *ngIf="arg.type === 'observable'">
                  {{arg.title}}
                </mat-card>
                <mat-card class="element element-expressions small"
                          cdkDrag
                          [cdkDragData]="arg"
                          (click)="clickDestExpression($event, operator.values, index);"
                          *ngIf="arg.type === 'expression'">
                  {{arg.title}}
                </mat-card>
              </ng-container>
            </span>
            <span>{{operator.right}}</span>
          </rxp-operator>
        </div>
      </div>
    </div>
  </div>
  <rxp-result [source]="source$" [pattern]="puzzle?.pattern" (equality)="equality($event)"></rxp-result>
</div>
