@import "~src/assets/scss/variables";

:host {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  .interactive-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
