@import "~src/assets/scss/variables";

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  mat-toolbar {
    padding-left: 16px;
    flex: 0 0 auto;
    transition: padding-left .3s cubic-bezier(0, 0, 0.2, 1);

    nav {
      display: flex;
      width: 100%;

      .flex {
        flex: 1;
      }
    }

    @media (max-width: $sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .content {
    flex: 1;
  }
}
