.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #303030;
  color: #fff;

  mat-toolbar {
    padding-left: 0;
    flex: 0 0 auto;
    transition: padding-left .3s cubic-bezier(0, 0, 0.2, 1);

    nav {
      display: flex;
      width: 100%;

      .flex {
        flex: 1;
      }
    }

    @media (max-width: 960px) {
      padding-left: 64px;
    }
  }

  .content {
    flex: 1;
  }
}
