.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #303030;
  color: #fff;

  mat-toolbar {
    flex: 0 0 auto;
  }

  .content {
    flex: 1;
  //  padding: 16px;
  //  overflow: auto;
  }
}
