<div class="stream-wrapper">
  <div class="stream-background">
    <div class="line"></div>
    <div class="tick" *ngFor="let tick of ticks" [class.visible]="tick.visible" [class.zero]="!tick.value" [style.left]="tick.left">
    </div>
  </div>
  <div class="stream">
    <ng-container *ngIf="stream$ | async as stream">
      <rxp-bead
        [@equality]="isEqual ? 'equal' : 'notEqual'"
        [element]="bead"
        *ngFor="let bead of stream">{{bead.value}}</rxp-bead>
    </ng-container>
  </div>
</div>
