@import "~src/assets/scss/variables";

:host {
  .stream-wrapper {
    height: 64px;
    position: relative;

    .stream-background {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 64px);
      height: 64px;
      margin: 0 32px;

      .line {
        position: absolute;
        margin: 0 -32px;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #fff;
      }

      .tick {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 1px;
        height: 7px;
        top: 50%;
        margin-top: -3px;
        background-color: #fff;
        font-size: 11px;
        color: #fff;

        span {
          position: relative;
          top: 24px;
          visibility: hidden;
        }

        &.visible {
          height: 13px;
          margin-top: -6px;

          span {
            visibility: visible;
          }
        }

        &.zero {
          height: 21px;
          margin-top: -10px;
        }
      }
    }

    .stream {
      height: 100%;
      position: relative;
      margin: 0 32px;
    }

    @media (max-width: $lg) {
      .stream {
        .rxp-bead {
          width: 24px;
          height: 24px;
          font-size: 14px;
          line-height: 24px;
          background-color: $successColor;
        }
      }
    }

    @media (max-width: $sm) {
      .stream-background {
        width: calc(100% - 32px);
        margin: 0 16px;

        .line {
          margin: 0 -16px;
        }
      }

      .stream {
        margin: 0 16px;

        .rxp-bead {
          width: 18px;
          height: 18px;
          font-size: 11px;
          line-height: 18px;
          background-color: $successColor;
        }
      }
    }

    @media (max-width: $xs) {
      .stream-background {
        width: calc(100% - 32px);
        margin: 0 16px;

        .line {
          margin: 0 -16px;
        }
      }

      .stream {
        margin: 0 16px;

        .rxp-bead {
          width: 12px;
          height: 12px;
          font-size: 8px;
          line-height: 12px;
          background-color: $successColor;
        }
      }
    }
  }

  &.preview {
    .stream-wrapper {
      .stream-background {
        width: 100%;
        margin: 0;

        .line {
          margin: 0 -16px;
        }
      }

      .stream {
        margin: 0;

        .rxp-bead {
          width: 12px;
          height: 12px;
          font-size: 8px;
          line-height: 12px;
          background-color: $successColor;
        }
      }
    }
  }
}
