.container {
  display: block;
  padding: 16px;
  overflow: auto;
  height: calc(100vh - 64px);

  .puzzles-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 32px;
    overflow: auto;

    mat-card {
      flex: 0 0 240px;
      margin: 16px;
      cursor: pointer;
      user-select: none;
    }
  }

}
