@import "~src/assets/scss/variables";

.container {
  display: block;
  padding: 16px;
  overflow: auto;
  height: calc(100vh - 64px);

  .puzzles-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

    .puzzle {
      flex: 0 0 33.33%;
      padding: 16px;
      cursor: pointer;
      user-select: none;

      @media (max-width: $lg) {
        flex: 0 0 50%;
      }

      @media (max-width: $sm) {
        flex: 0 0 100%;
        padding: 8px 0;
      }
    }
  }

}
