@import "~src/assets/scss/variables";

:host {
  display: flex;
  margin: 8px 8px;
  background-color: $color1;
  white-space: nowrap;

  .error-message {
    display: none;
    position: absolute;
    background-color: $warn;
    padding: 7px;
    top: 9px;
    left: calc(100% + 16px);
  }

  &.inner .error-message {
    display: block;
  }
}
