@import "~src/assets/scss/variables";

:host {
  display: flex;
  align-items: center;

  .mat-card {
    display: flex;
    margin: 4px 8px;
    background-color: $color2;
    white-space: nowrap;
  }

  .error-message {
    display: none;
    position: relative;
    height: 32px;
    background-color: $warn;
    padding: 7px;

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -5px;
      border: 5px solid transparent;
      border-right-color: $warn;
    }
  }

  &.inner .error-message {
    display: block;
  }
}
