@import "~src/assets/scss/variables";

:host {
  display: flex;
  margin: 4px 8px;
  background-color: $color2;
  white-space: nowrap;

  .error-message {
    display: none;
    position: absolute;
    background-color: $warn;
    padding: 7px;
    top: 9px;
    left: calc(100% + 16px);

    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -5px;
      border: 5px solid transparent;
      border-right-color: $warn;
    }
  }

  &.inner .error-message {
    display: block;
  }
}
